    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>О нас</h2>
              <br/>
                <p>Наша команда состоит из двух аттестованных специалистов в области ветеринарии. Помогаем наладить работу в системе ФГИС Меркурий опираясь на многолетний опыт. Обслуживаем организации разной направленности, от розничных магазинов до производственных предприятий. Оказываем консультации по различным вопросам ветеринарного законодательства РФ. Всегда готовы быстро и профессионально найти решение ваших задач.</p>
                <br/>
              </div>
        </div>
    </section>
