<section id="contact" class="text-center">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 translucent lead">
					<h2>Контакты</h2>
					<p>Скоробогатов Никита Анатольевич <a href="tel:+79137761698" class="text-nowrap">+7(913)-776-16-98</a></p>
					<p>Орлов Никита Михайлович <a href="tel:+79137460822" class="text-nowrap">+7(913)-746-08-22</a></p>
					<p>E-mail: <a href="mail:helpmercury@mail.ru">helpmercury@mail.ru</a></p>

					<ul class="list-inline banner-social-buttons">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->