<section id="contact" class="text-center">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 translucent lead">
					<h2>Контакты</h2>
					<p>Скоробогатов Никита Анатольевич<br/><a href="tel:+79137761698">+7(913)-776-16-98</a><a href="https://wa.me/79137761698" target="_blank"><img class="messenger" alt="Написать в WhatsApp" src="/img/whatsapp.png"></a></p>
					<p>Орлов Никита Михайлович<br/><a href="tel:+79137460822" class="text-nowrap">+7(913)-746-08-22</a><a href="https://wa.me/79137460822" target="_blank"><img class="messenger" alt="Написать в WhatsApp" src="/img/whatsapp.png"></a></p>
					<p>E-mail: <a href="mail:helpmercury@mail.ru">helpmercury@mail.ru</a></p>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->